# The warppipes file is ignored since it is unique to each user
Scripts\Moose-Scripts\Microsoft.PowerShell_warppipes.ps1

# This is apparently where Microsoft puts random SQL Stuff
/Modules/PackageManagement

# Another folder got created out of nowhere ¯\_(ツ)_/¯
/Scripts/InstalledScriptInfos
