# The warppipes file is ignored since it is unique to each user
Microsoft.PowerShell_warppipes.ps1

# This file is created by Powershell Server (www.powershellserver.com/), which is a pretty nifty
#  tool for SSHing into Windows boxes! The script isn't part of this repo, though
nsoftware.PowerShell_profile.ps1